.testimonial-section {
  max-width: 100%;
  /* height: 500px; */
  /* margin: 100px auto 0; */
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  background: #d5fafc;
}

.testimonial-section h2 {
  text-align: center;
  color: #529fa7;
  font-size: 48px;
  text-align: center;
  margin: 40px;
}

@media screen and (max-width: 700px) {
  .testimonial-section {
    margin: 100px 10px 0;
  }
}

.slider-container {
  width: 90%;
  margin: 0 auto;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.slide-userInfo {
  display: flex;
  flex-direction: column;
  width: 55%;
  position: relative;
}

.slide-userImg {
  justify-content: center;
  display: flex;
  width: 35%;
  height: 400px;
}

.slide-userImg img {
  width: 100%;
  object-fit: contain;
}

.slide-userInfo-testimony {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: justify;
}

.slide-userInfo-testimony::before {
  content: "\201C";
  top: 20px;
  left: -50px;
  font-size: 180px;
  font-weight: bolder;
  position: absolute;
  display: inline-block;
  color: #2ec5ce;
  font-family: "Times New Roman", Times, serif;
  opacity: 0.5;
}

.active-anim {
  opacity: 1;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  cursor: pointer;
  border: none;
  outline: none;
}

.dot.active {
  background: #2ec5ce;
}

.slide-userInfo-userName {
  color: #2ec5ce;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
  margin-top: 30px;
}

.slide-userInfo-userPosition {
  font-size: 16px;
  font-weight: 500;
  color: #213053;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .active-anim {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active-anim > * {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
  }
}
