.section-headers {
  font-weight: 800 !important;
  font-size: 28px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  color: #213053;
  margin: 1.5em auto;
}

.services-section {
  width: 90%;
  margin: 5em auto;
}
