.unique-section {
  background-color: #529fa7;
  height: 300px;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.unique-section h2 {
  color: white;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 84px;
}

.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  background-color: #ffffff;
  margin: 57.74px 0;
  margin-top: -50px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 57.74px solid #ffffff;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 57.74px solid #ffffff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.txt {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: #213053;
}

.txt-in {
  font-weight: bold;
  font-size: 48px;
}

.achievements-contianer {
  width: 70%;
  margin: 0 auto;
}
